@model IEnumerable<QuizApplication.Models.Quiz>

<body style="background-color: #4A6267;">
<h2 style="list-style-type: none; padding: 0; text-align: center;">Available Quiz Topics</h2>

<ul style="list-style-type: none; padding: 0; text-align: center;">
    @foreach (var quiz in Model)
    {
        <li style="margin-bottom: 10px;">
            <a asp-action="StartQuiz" asp-route-id="@quiz.Id"
               style="text-decoration: none; color: #007BFF; font-size: 18px;">
                @quiz.Topic
            </a>
        </li>
    }
</ul>
</body>